name: Publish Python package 

on:
  push:
    branches:
      - main
    paths:
      - 'python_package/**'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.12'
          enable-cache: true

      - name: Build
        working-directory: ./python_package
        run: uv build --no-sources --sdist --wheel

      - name: Publish
        working-directory: ./python_package
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: uv publish
